language: cpp

compiler:
  - gcc

before_install:
  - sudo apt-get update -qq
install:
  - sudo apt-get install -qq cmake build-essential libopencv-dev

before_script:
  - mkdir build
  - cd build
  - cmake .. -DCMAKE_BUILD_TYPE=DEBUG

script: make -j 2

